@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.homepage_section {
  background-image: url(https://media.giphy.com/media/KcnbWfsuFr7JpgowGT/giphy.gif);
  background-size: cover;
  height: 100vh;
}
.homepage_content_section {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media only screen and (max-width: 400px) {
  .showcaseleft-top h1 {
    font-size: small;
  }
}